.idea
*.png
handson-ml
tensorflow/bazel-bin
tensorflow/bazel-genfiles
tensorflow/bazel-out
tensorflow/bazel-tensorflow
tensorflow/bazel-testlogs
tensorflow/resources/
gcp/dataflow/java/dataflow/input.txt
tutorial/tensorflow/iris/__pycache__/
**/events.out*